<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.normal.DAO.PXActReviewMapper" >

<!-- ==============查询开始============== -->

<!-- 获取评论状态 -->
<select id="findReviewStatus" resultType="java.lang.Integer">
	SELECT count(id) FROM px_act_review WHERE aid=#{id} and uid=#{uid}
</select>

<!-- 获取评论列表 -->
<select id="findReviewList" resultType="map">
	select px_user.icon,px_user.u as 'user', px_user.nickname,px_act_review.content,px_act_review.goodTag
	FROM px_act_review
	INNER JOIN px_user ON px_user.id=px_act_review.uid
	where px_act_review.aid=#{aid}
	<if test="start != null">LIMIT #{start},#{length}</if>
</select>

<!-- 获取评论列表总数-->
<select id="getReviewListCnt" resultType="java.lang.Integer">
	select count(px_act_review.id)
	FROM px_act_review
	where px_act_review.aid=#{aid}
</select>

<!-- ==============插入开始============== -->

<!-- 发表评论 -->
<insert id="insertReview">
	INSERT INTO px_act_review(uid, aid, content, goodTag) 
	Select #{uid},#{id},#{content},#{tag} from DUAL
	<!-- VALUES (#{uid},#{id},#{content},#{tag}) -->
	where EXISTS(
	<if test="at == 0">
		<!-- 活动判断 -->
		SELECT id FROM px_act WHERE id=#{id} and status=1 and e&lt;=now()
	</if>
	<if test="at ==1 ">
		<!-- 讲座判断 -->
		SELECT id FROM px_lctr WHERE id=#{id} and status=1 and e&lt;=now()
	</if>
	)
</insert>



</mapper>