<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="manage.xypx.DAO.PxManageUserMapper">

	<select id="selectByAccount"
		resultType="manage.xypx.Model.PxManageUser">
		select
		u as 'user',role
		from px_manage_user
		where u=#{user} and p=#{pwd}
	</select>
</mapper>