<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.zxk1997.px.activity.dao.PxUserPartakeMapper">
	<resultMap id="BaseResultMap"
		type="com.zxk1997.px.common.models.PxUserPartake">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="uid" jdbcType="VARCHAR" property="uid" />
		<result column="aid" jdbcType="VARCHAR" property="aid" />
		<result column="phone" jdbcType="VARCHAR" property="phone" />
		<result column="email" jdbcType="VARCHAR" property="email" />
		<result column="at" jdbcType="INTEGER" property="at" />
		<result column="time" jdbcType="TIMESTAMP" property="time" />
	</resultMap>
	<sql id="Base_Column_List">
		id, uid, aid, phone, email, at, time
	</sql>

	<select id="selectByPrimaryKey"
		parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from px_user_partake
		where id = #{id,jdbcType=INTEGER}
	</select>

	<select id="selectByObj"
		parameterType="com.zxk1997.px.common.models.PxUserPartake"
		resultType="java.lang.Integer">
		select
		count(id)
		from px_user_partake
		where aid = #{aid} and
		uid = #{uid}
	</select>

	<delete id="deleteByPrimaryKey"
		parameterType="java.lang.Integer">
		delete from px_user_partake
		where id =
		#{id,jdbcType=INTEGER}
	</delete>

	<delete id="deleteByObj"
		parameterType="com.zxk1997.px.common.models.PxUserPartake">
		delete from px_user_partake
		where aid = #{aid} and uid =
		#{uid}
	</delete>

	<insert id="insert"
		parameterType="com.zxk1997.px.common.models.PxUserPartake">
		insert into px_user_partake ( uid, aid,
		phone, email, at,
		time
		)
		values ( #{uid,jdbcType=VARCHAR}, #{aid,jdbcType=VARCHAR},
		#{phone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR},
		#{at,jdbcType=INTEGER}, #{time,jdbcType=TIMESTAMP}
		)
	</insert>


</mapper>